<div id="winSettings">
    <div id="closeWinSettings" class="close">
        <h3>X</h3>
    </div>
    {{#each setting.pages}}
        {{#if showDisplay}}
            <a id={{id}} href={{href}}> {{name}} </a>
        {{/if}}
    {{/each}}
</div>
