.becameAuthor {
    width: fit-content;
    border: solid black 2px;
    border-radius: 2em;
    padding: 2em;
    margin: 2em auto auto;
}

.becameAuthor__name--header {
    margin-bottom: 1em;
}

.becameAuthor__name--input {
    border-radius: 1em;
    font-size: 1.3em;
    padding: 0.2em 1em;
    margin-bottom: 2em;
}

.becameAuthor__description--header {
    margin-bottom: 1em;
}

.becameAuthor__description--input {
    width: 90%;
    height: 10em;
    border-radius: 2em;
    resize: vertical;
    margin-bottom: 2em;
    padding: 0.5em 1em;
    font-size: 1.2em;
}

.becameAuthor__btnContainer {
    text-align: end;
}

.becameAuthor__btn {
    border-radius: 1em;
    padding: 0.2em 0.7em 0.3em 0.7em;
    font-size: 1.2em;
}
