<div class="becameAuthor">
    <div class="becameAuthor__name">
        <h3 class="becameAuthor__name--header">Название Вашего канала</h3>
        <input class="becameAuthor__name--input" id="becameAuthor__name--input" type="text">
    </div>
    <div class="becameAuthor__description">
        <h3 class="becameAuthor__description--header">Описание канала</h3>
        <textarea class="becameAuthor__description--input" id="becameAuthor__description--input"></textarea>
    </div>

    <div class="becameAuthor__btnContainer">
        <button class="becameAuthor__btn" id="becameAuthor__btn">Стать автором</button>
    </div>
</div>
