<div id="becomeAuthor--back" class="background--popup"></div>

<div class="becameAuthor">
    <div class="becameAuthor__form">
        <div class="becameAuthor__name">
            <h3 class="becameAuthor--header">Название вашего блога</h3>
            <input class="becameAuthor--input" id="becameAuthor__name--input" type="text">
            <div id="becameAuthor__name--err" class="error"></div>
        </div>
        <div class="becameAuthor__description">
            <h3 class="becameAuthor--header">Описание блога</h3>
            <textarea class="becameAuthor--input" id="becameAuthor__description--input"></textarea>
            <div id="becameAuthor__description--err" class="error"></div>
        </div>

        <div class="becameAuthor__btnContainer">
            <button class="becameAuthor__btn" id="becameAuthor__btn">Стать автором</button>
        </div>
    </div>
</div>
