.becameAuthor {
    width: fit-content;
    border: solid black 2px;
    padding: 2em;
    margin: 6em auto auto;
}

.becameAuthor__backBtn {
    padding: 0.2em 0.7em 0.3em 0.7em;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.becameAuthor__name--header {
    margin-top: 1em;
    margin-bottom: 1em;
}

.becameAuthor__name--input {
    font-size: 1.3em;
    padding: 0.2em 0.5em;
    margin-bottom: 2em;
    width: 30em;
}

.becameAuthor__description--header {
    margin-bottom: 1em;
}

.becameAuthor__description--input {
    width: 97%;
    height: 15em;
    resize: vertical;
    margin-bottom: 2em;
    padding: 0.5em 0.5em;
    font-size: 1.2em;
}

.becameAuthor__btnContainer {
    text-align: end;
}

.becameAuthor__btn {
    padding: 0.2em 0.7em 0.3em 0.7em;
    font-size: 1.2em;
}
