@import "variables";

$font-family: 'DM Sans', sans-serif;

#root {
  font-size: $font-size;
  font-family: $font-family;
  overflow-x:hidden;
}

main {
  margin-top: $sidebar-height;
}

body {
  margin: 0;
}

#footer {
  margin-top: 1em;
}
