@import "variables";

$error-mb: 1%;
$error-height: 2em;
$error-color: red;

.error {
  font-size: $font-size-err;
  text-align: center;
  margin-bottom: $error-mb;
  height: $error-height;
  color: $error-color;
}
