@import "variables";

$href-color: #222;

a {
  text-decoration: none;
  color: $href-color;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

.title {
  font-size: $title-font-size;
  text-align: center;
}

