@import "variables";
$title-margin-bottom: 2em;

$href-color: #222;

a {
  text-decoration: none;
  color: $href-color;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
}

.title {
  margin-bottom: $title-margin-bottom;
  font-size: $title-font-size;
  text-align: center;
}

