$font-size: 16px;
$font-size-2: 20px;
$font-size-3: 24px;
$title-font-size: 36px;

$tag-border-radius: 10px;
$elem-border-radius: 15px;
$block-border-radius: 2em;

$text-color: green;
$underline-color: green;
$underline-width: 2px;

$sidebar-height: 4em;

$content-z-index: 1;
$background-z-index: 2;
$popup-z-index: 3;


$input-height: 60px;

$hr-color: rgba(128, 128, 128, 0.45);
$hr-width: 2px;

@mixin clickable() {
  cursor: pointer;
}

@mixin non-clickable() {
  cursor: default;
}

$shadow-color: #b7b7b7;
$shadow-len: 5px;

@mixin shadow() {
  box-shadow: $shadow-len $shadow-len $shadow-len $shadow-color;
}

$img-width: 1em;

$card-color: #F8F8F9;
$card-color-hover: #ececec;
$card-content-color: #d3d3d3;
$sub__btn-color: #ECEBF0;
$text--default-color: #A3A3A3;
$create-btn-color: #D9F1DF;
$create-btn-color-hover: #bae7c6;
