$elem-border-radius: 10px;
$block-border-radius: 2em;

$text-color: green;
$underline-color: green;
$underline-width: 2px;

$sidebar-height: 4em;

$background-z-index: 2;
$popup-z-index: 3;

$font-size: 16px;

$input-height: 60px;
