.newpost-form-container {
    margin: auto;
    margin-top: 2em;
    width: 50em;
    border: 2px solid gray;
    border-radius: 2em;
}

.newpost-header-container {
    margin-top: 1em;
    margin-bottom: 2em;
}

.newpost-form {
    margin: auto;
    width: 45em;
}

.newpost-title-label {
    margin-left: 2em;
    font-size: 1.3em;
}

.newpost-text-label {
    margin-left: 2em;
    font-size: 1.3em;
}

.newpost-title-label-container {
    margin-bottom: 1em;
}

.newpost-text-label-container {
    margin-top: 1em;
    margin-bottom: 1em;
}

.newpost-title-input {
    width: 95%;
    height: 1.7em;
    border-radius: 1.5em;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.2em;
    font-size: 1.5em;
    resize: vertical;
}

.newpost-text-input {
    width: 95%;
    height: 20em;
    border-radius: 1.5em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0.2em;
    font-size: 1.3em;
    resize: vertical;
}

.newpost-btn-container {
    text-align: end;
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.newpost-btn {
    width: 10em;
    height: 2em;
    border-radius: 1.5em;
    font-size: 1.3em;
}

#newpost-btn-back {
    font-size: 1.3em;
    margin-left: 2em;
}

.newpost-title {
    font-size: 2em;
    margin-left: 10%;
}

.under-input-error-post {
    color: rgba(255, 36, 36, 0.63);
    font-size: medium;
}
