<div class="newpost-form">
    <div class="newpost-header-container">
        <h1>Новый пост</h1>
    </div>

    <div class="newpost-title-container">
        <label class="newpost-title-label">Название поста</label>
        <input id="newpost-title-input" class="newpost-title-input" type="text">
    </div>
    <div class="newpost-text-container">
        <label class="newpost-text-label">Текст</label>
        <input id="newpost-text-input" class="newpost-text-input" type="text">
    </div>

    <div class="newpost-btn-container">
        <button id="newpost-btn" class="newpost-btn">Опубликовать</button>
    </div>
</div>
