<div class="newpost-form-container">

    <div class="newpost-header-container">
        <button id="newpost-btn-back" class="newpost-btn">Назад</button>
        <span class="newpost-title"> Мой пост </span>
    </div>

    <form id="create-post" class="newpost-form">
        <div class="newpost-title-container">
            <div class="newpost-title-label-container">
                <label class="newpost-title-label">Название поста</label>
            </div>
            <div class="newpost-title-input-container">
                <textarea id="newpost-title-input" class="newpost-title-input"></textarea>
            </div>
            <div id="newpost-title-error"></div>
        </div>

        <div class="newpost-text-container">
            <div class="newpost-text-label-container">
                <label class="newpost-text-label">Текст</label>
            </div>
            <div class="newpost-text-input-container">
                <textarea id="newpost-text-input" class="newpost-text-input"></textarea>
            </div>
            <div id="newpost-text-error"></div>
        </div>

        <div class="newpost-btn-container">
            <button id="newpost-btn" class="newpost-btn">Опубликовать</button>
        </div>

    </form>
</div>
