<div id="backGetSub" class="background--popup">
</div>

<div class="getsub--popup__container">
    <div class="getsub__form">
        <p class="getsub__title">Купить подписку</p>
        
        <form id="getsub__payForm" method="POST" action="https://yoomoney.ru/quickpay/confirm.xml">
            <input type="hidden" name="receiver" value="4100118197577777"/>
            <input id="getsub__label" type="hidden" name="label" value=""/>
            <input type="hidden" name="quickpay-form" value="button"/>
            <input id="getsub__sum" type="hidden" name="sum" value="" data-type="number">
            <div class="getsub__block">
                <p class="getsub__description--title">Укажите, на сколько месяцев вы хотите оформить подписку</p>
                <input id="getsub__months" class="input--form" type="number" min="1" value="1" pattern="[0-9]*">
                <div id="getsub__cost--err" class="error"></div>
            </div>
            <div class="donateWin-btn-container">
                <button  id="getsub__btn"> Перейти к оплате</button>
            </div>
        </form>
    </div>
</div>
