<div id="backAim" class="background--popup">
</div>

<div class="aim--popup__container">
    <div class="aim__form">
        <p class="aim__title">Цель</p>

        <div class="aim__block">
            <p class="description--title">Описание цели</p>
            <textarea id="aim__description" class="aim__input"></textarea>
            <div id="aim__description--err" class="error"></div>
        </div>

        <div class="aim__block">
            <p class="description--title">Сумма</p>
            <input id="aim__cost" class="aim__input" type="text">
            <div id="aim__cost--err" class="error"></div>
        </div>

        <button id="aim__btn">Сохранить</button>
    </div>
</div>
