@import './components/sideBar/sideBar.css';
@import './components/authorization/auth.css';
@import './components/register/reg.css';
@import './components/winSettings/winSettings.css';
@import './components/settings/settings.css';
@import './components/myPage/myPage.css';
@import './components/startPage/startPage.css';
@import './components/404/page404.css';
@import './components/newPost/newPost.css';

#root {
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

h3 {
    margin: 0;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    z-index: 10;
}

.background-settings {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.0;
    z-index: 10;
}

.background:hover {
    cursor: pointer;
}

.close {
    text-align: end;
}

.close h3 {
    margin: 10px;
    width: 20px;
}

.close:hover {
    cursor: pointer;
}

body {
    margin: auto;
    top: 0;
}

/* auth and reg */

.auth-label {
    margin-right: 1em;
    font-size: 1.3em;
}

.auth-input {
    font-size: 1.3em;
    height: 2em;
    width: 14em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.8em;
}

.auth-btn {
    margin: auto;
    height: 2em;
    width: 8em;
    border-radius: 0.7em;
    font-size: 1.3em;
}

.auth-btn-container {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.3em;
}

.title {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 1.7em;
}
