<div id="startPage">

    <div class="startPage__text">

        <div class="startPage__intro">
            <div class="start__text">
                <p class="startPage__text--header">Твоё творчество должно быть известно!</p>
                <p>SubMe — это платформа монетизации авторского контента.</p>
                <p> В первую очередь этот сервис представляет собой арт-пространство для блогеров, писателей,
                    музыкантов,
                    художников и других создателей творческого контента.</p>
                <p> Для людей, желающих поддержать творчество своих
                    кумиров
                    и получить доступ к недоступному для других материалу, сервис также предлагает возможности подписки
                    и
                    просмотра контента в зависимости от выбранных автором условий.</p>
                <p> SubMe помогает авторам найти возможность заработка на любимом деле и самим формировать условия для
                    создания
                    собственного комьюнити поклонников.</p>
            </div>

            <img class="start__photo" id="start_photo" src="../../images/startPhoto.jpg" alt="start_photo">
        </div>

        <div class="startPage__usage">
            <img class="start__photo--top" id="usagePhoto" src="../../images/usage.jpeg" alt="what is it?">

            <div class="start__text">
                <p class="startPage__text--header">Что это такое?</p>
                <p>Сервис позволяет пользователям находить интересующий их контент, который может быть в аудио-, видео-
                    и
                    текстовом формате, по категориям, ключевым словам или авторам.</p>
                <p>При входе в аккаунт, пользователь
                    получает
                    больше
                    возможностей, например, подписаться на блогеров, комментировать и оценивать контент, делать
                    пожертвования и
                    многое другое.</p>
                <p>Для желающих стать частью творческого процесса сервис SubMe представляет систему различных уровней
                    поддержки
                    автора, в зависимости от которых меняется их степень участия в создаваемом кумиром контенте.</p>
                <p>За блогом можно следить без оформления платной подписки. В этом случае пользователи могут видеть и
                    взаимодействовать только с общедоступным контентом.</p>
                <p>Для незарегистрированных пользователей доступны возможности просмотра страниц авторов и подборки по
                    категориям.</p>
            </div>

            <img class="start__photo--bottom" id="usagePhoto" src="../../images/usage.jpeg" alt="what is it?">
        </div>

        <div class="startPage__forWhom">
            <div class="start__text">
                <p class="startPage__text--header">Для кого это?</p>
                <p>Авторы могут публиковать свой авторский контент, влиять на собственное сообщество подписчиков,
                    получать
                    поддержку от своей аудитории и привлекать новых поклонников.</p>
                <p>Зрители могут получать доступ к авторскому контенту, подписываться на любимых блоггеров и
                    взаимодействовать
                    с
                    ними.</p>
            </div>

            <img class="start__photo" id="forWhomPhoto" src="../../images/forWhom.jpeg" alt="for whom?">
        </div>
    </div>
</div>

<div id="footer">
    <hr style="opacity: 75%;">
    <!--    <p>©️ 2023 4from5 All rights reserved. All trademarks are the property of their respective owners. <a-->
    <!--            href="https://t.me/averageqqq">TG</a></p>-->
    <p>Свяжитесь с нами в Телеграмм: @DESOLATE17 @qqqq4u @IvanStukalovv @Vector102</p>
</div>
