<div id="startPage">
    <h1>Добро пожаловать на SubMe!</h1>
    <h3>SubMe — это платформа монетизации авторского контента.</h3>
    <hr>
    <h3> В первую очередь этот сервис представляет собой арт-пространство для блогеров, писателей, музыкантов, художников и других создателей творческого контента. Для людей, желающих поддержать творчество своих кумиров и получить доступ к недоступному для других материалу, сервис также предлагает возможности подписки и просмотра контента в зависимости от выбранных автором условий.</h3>
    <hr>
    <h3>SubMe помогает авторам найти возможность заработка на любимом деле и самим формировать условия для создания собственного комьюнити поклонников.</h3>
    <hr>
    <h3> Сервис позволяет пользователям находить интересующий их контент, который может быть в аудио-, видео- и текстовом формате, по категориям, ключевым словам или авторам. При входе в аккаунт, пользователь получает больше возможностей, например, подписаться на блогеров, комментировать и оценивать контент, делать пожертвования и многое другое.
        Для желающих стать частью творческого процесса сервис SubMe представляет  систему различных уровней поддержки автора, в зависимости от которых меняется их степень участия в создаваемом кумиром контенте.
        За блогом можно следить без оформления платной подписки. В этом случае пользователи могут видеть и взаимодействовать только с общедоступным контентом.
        Для незарегистрированных пользователей доступны возможности просмотра страниц авторов и подборки по категориям.</h3>

</div>