<div id="startPage">
    <img id="start_photo" src="./images/startPhoto.jpg" alt="start_photo">
    <h1>Добро пожаловать на SubMe!</h1>
    <hr>
    <h2>SubMe — это платформа монетизации авторского контента.</h2>
    <h2> В первую очередь этот сервис представляет собой арт-пространство для блогеров, писателей, музыкантов, художников и других создателей творческого контента. Для людей, желающих поддержать творчество своих кумиров и получить доступ к недоступному для других материалу, сервис также предлагает возможности подписки и просмотра контента в зависимости от выбранных автором условий.</h2>
    <h2>SubMe помогает авторам найти возможность заработка на любимом деле и самим формировать условия для создания собственного комьюнити поклонников.</h2>
    <h3> <p>Сервис позволяет пользователям находить интересующий их контент, который может быть в аудио-, видео- и текстовом формате, по категориям, ключевым словам или авторам. При входе в аккаунт, пользователь получает больше возможностей, например, подписаться на блогеров, комментировать и оценивать контент, делать пожертвования и многое другое.</p>
        <p>Для желающих стать частью творческого процесса сервис SubMe представляет систему различных уровней поддержки автора, в зависимости от которых меняется их степень участия в создаваемом кумиром контенте.</p>
        <p>За блогом можно следить без оформления платной подписки. В этом случае пользователи могут видеть и взаимодействовать только с общедоступным контентом.</p>
        <p>Для незарегистрированных пользователей доступны возможности просмотра страниц авторов и подборки по категориям.</p>
    </h3>
    <h2> 2. Кто его целевая аудитория, какими критериями её можно описать?</h2>
    <h3>Целевой аудиторией данного сервиса являются люди в возрасте от 16 до 60 лет, которые хотят быть авторами и/или зрителями:</h3>
    <h3>Авторы могут публиковать свой авторский контент, влиять на собственное сообщество подписчиков, получать поддержку от своей аудитории и привлекать новых поклонников.</h3>
    <h3>Зрители могут получать доступ к авторскому контенту, подписываться на любимых блоггеров и взаимодействовать с ними.</h3>
    <h2>3. В чем плюсы и минусы вашего сервиса, чем он круче конкурентов?</h2>
    <h2>Плюсы</h2>
    <h3>для авторов контента:</h3>
    <h3>Возможность платного продвижения</h3>
    <h3>Меньший процент комиссии от платформы по сравнению с конкурентами (Patreon, Boosty)</h3>
    <h2>для пользователей:</h2>
    <h3>Поиск авторов по имени и темам блога</h3>
    <h3>Отслеживание новых постов в ленте</h3>
    <h3>Подборки популярных блогеров по категориям</h3>

    <h2>Минусы:</h2>
    <h3>Отсутствие гибкости вывода денежных средств для автора.(Нет автоматического вывода средств с заданной пользователем периодичностью как в Patreon)</h3>
    <h2>4. Монетизация</h2>
    <h3>Процент от оформленных подписок</h3>
    <h3>Платное продвижения авторов</h3>
</div>