<div id="auth">
    {{!-- <form id="auth-form"> --}}
        <div>
            <label id="auth-username" for="username">Логин</label>
            <input type="text">
        </div>
        <div>
            <label id="auth-password" for="password">Пароль</label>
            <input type="password">
        </div>
        <div>
            <button id="auth-btn"> Войти </button>
        </div>
    {{!-- </form> --}}
</div>