<div id="auth">
    <div>
        <label for="username">Логин</label>
        <input id="auth-username" type="text">
    </div>
    <div>
        <label for="password">Пароль</label>
        <input id="auth-password" type="password">
    </div>
    <div>
        <button id="authbtn"> Войти </button>
    </div>
</div>