<div class="background">
    <div id="auth">
        <div>
            <label for="username">Логин</label>
            <input id="auth-login" type="text">
        </div>
        <div>
            <label for="password">Пароль</label>
            <input id="auth-password" type="password">
        </div>
        <div>
            <button id="auth-btn"> Войти </button>
        </div>
    </div>
</div>