<div id="auth">
    <form>
        <div>
            <label for="username">Логин</label>
            <input type="text">
        </div>
        <div>
            <label for="password">Пароль</label>
            <input type="password">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</div>