<div id="backSubscription" class="background--popup">
</div>
<div class="subscription__container">
    <div class="subscription">
        <div class="subscription__win--title">
            <p id="sub__title">Создание подписки</p>
        </div>

        <div class="subscription__body">
            <div class="subscription__title sub__input--container">
                <p class="sub__input--title">Название подписки</p>
                <input id="sub-title-input" class="sub__input" type="text" value="{{title}}">
            </div>

            <div class="subscription__description sub__input--container">
                <p class="sub__input--title">Описание подписки</p>
                <textarea id="sub-description-input" class="sub__input">{{description}}</textarea>
            </div>

            <div class="subscription__cost sub__input--container">
                <p class="sub__input--title">Цена в месяц</p>
                <input id="sub-cost-input" class="sub__input" type="text" value="{{cost}}">
            </div>
        </div>

        <div id="subscription__btn__container" class="subscription__btn__container">
            <button id="subscription__btn">Сохранить</button>
        </div>
    </div>
</div>
