<div id="backSubscription" class="background--popup">
</div>
<div class="subscription__container">
    <div class="subscription">
        <div class="title subscription__win--title">
            <p>Создание подписки</p>
        </div>

        <div class="subscription__body">
            <div class="subscription__title">
                <p>Название подписки</p>
                <input id="sub-title-input" type="text" value="{{title}}">
            </div>
            <div class="subscription__description">
                <p>Описание подписки</p>
                <textarea id="sub-description-input">{{description}}</textarea>
            </div>
            <div class="subscription__cost">
                <p>Цена в месяц</p>
                <input id="sub-cost-input" type="text" value="{{cost}}">
            </div>
        </div>

        <div id="subscription__btn__container" class="subscription__btn__container">
            <button id="subscription__btn">Сохранить</button>
        </div>
    </div>
</div>
