.subscription__container {
    top: 10em;
    margin-left: 30%;
    background-color: #ddd;
    position: fixed;
    width: 40em;
    height: 35em;
    opacity: 1;
    z-index: 20;
    text-align: center;
}

.subscription {
    width: 60%;
    margin: auto;
}

.subscription__body {
    text-align: start;
}
