#sideBar {
    display: flex;
    background-color: #eee;
    position: relative;
    z-index: 1;
    text-align: end;
    height: 4em;
}

#sideBar-SubMe {
    margin-left: 1em;
}

#sideBar-menu {
    width: 100%;
}

#sideBar a {
    display: inline-block;
    font-size: large;
    margin-left: 3em;
    margin-top: 1em;
}

#sidebar-modalWindow {
    margin-right: 1em;
}

a {
    
    color: #222;
}

.btn {
    border: 2px solid gray;
}