#sideBar {
    background-color: #eee;
    position: relative;
    z-index: 1;
    text-align: end;
    height: 40px;
}

#sideBar a {
    vertical-align: middle;
    font-size: large;
    margin-left: 6%;
    margin-right: 8%;
    /*margin-top: 1em;*/
    /*padding-top: 20px;*/
    /*padding-bottom: 10px;*/
}

a {
    color: #222;
}

.btn {
    border: 2px solid gray;
}