<div id="sideBar">
    <h2 id="sideBar-SubMe">SubMe</h2>
    <div id="sideBar-menu">
    {{#each general.pages}}
        {{#if showDisplay}}
            <a id={{id}} href={{href}}> {{name}} </a>
        {{/if}}
    {{/each}}
    </div>
</div>
