#auth {
    top: 15em;
    margin-left: 30%;
    background-color: #ddd;
    position: fixed;
    width: 40em;
    height: 20em;
    border-radius: 3em;
    opacity: 1;
    z-index: 20;
}

.input-auth-container {
    margin-right: 2em;
}

.auth-container {
    text-align: end;
    margin: auto;
    width: 30em;
}

.toReg {
    text-align: center;
}

#auth-error {
    margin-right: 5em;
}
