<div id="backAuth" class="background">
</div>
<div id="auth">
    <div class="auth-container">
        <div class="title">
            Войти на SubMe
        </div>
        <div class="input-auth-container">

            <div class="input__container">
                <p class="auth-label">Логин</p>
                <input id="auth-login" class="auth-input" type="text">
            </div>

            <div class="input__container">
                <p class="auth-label">Пароль</p>
                <input id="auth-password" class="auth-input" type="password">
            </div>

            <div id="auth-error"></div>
        </div>

        <div class="auth-btn-container">
            <button id="auth-btn" class="auth-btn">Войти</button>
        </div>
    </div>
</div>
