<div id="backAuth" class="background--popup">
</div>
<div id="auth" class="auth__container">
    <div class="auth__form">
        <div class="auth__title">Вход в аккаунт</div>

        <div id="login--form" class="input--form auth__input">
            <input id="auth__login" class="auth" type="text" placeholder="Логин">
            <img id="clear" class="input__img" src="../../images/clear.svg">
        </div>

        <div id="password--form" class="input--form auth__input">
            <input id="auth__password" type="password" placeholder="Пароль">
            <img id="watch" class="input__img" src="../../images/watch.svg">
        </div>

        <div id="auth__error" class="error"></div>

        <button id="auth__btn">Войти</button>

        <p class="text--redirect auth__text">Ещё не зарегистрированы?</p>
        <p id="toReg" class="auth__text">Регистрация</p>
    </div>
</div>
