#auth {
    text-align: end;
    top: 20em;
    margin-left: 35%;
    background-color: #ddd;
    position: fixed;
    width: 400px;
    opacity: 1;
    z-index: 20;
}

input {
    width: 22em;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

button {
    margin-right: 13em;
}

#auth-error {
    margin-right: 5em;
}

#closeAuth {
    width: 2em;
}
