<div id="backAuth" class="background--popup">
</div>
<div id="auth" class="auth__container">
    <div class="auth__form">
        <div class="title">Вход в аккаунт</div>

        <input id="auth-login" class="input--form" type="text" placeholder="Логин">
        <input id="auth-password" class="input--form" type="password" placeholder="Пароль">

        <div id="auth-error" class="error"></div>

        <button id="auth-btn">Войти</button>

        <p class="text--redirect">Ещё не зарегистрированы?</p>
        <p id="toReg">Регистрация</p>
    </div>
</div>
