@import "../general/variables";
@import "../general/popup";
@import "../general/input";
@import "subscription";

$popup__aim-width: 45%;
$popup__aim-height: 90%;

.aim--popup__container {
  @include popup__container();
  width: $popup__aim-width;
  padding-bottom: 2em;
  margin-left: ((100% - $popup__aim-width) / 2);
}

.aim__form {
  width: $popup__content-width;
  margin: 2em auto 0 auto;
  text-align: center;
}

$aim-mb: 7%;

.aim__title {
  text-align: center;
  font-size: $font-size-4;
  margin-bottom: $aim-mb;
}

.aim__block {
  margin-bottom: $aim-mb;
}

.description--title {
  font-size: $font-size-3;
  margin-bottom: 1em;
}

#aim__description {
  resize: none;
  height: 4em;
}

#aim__cost {
  font-size: $font-size-3;
}

.aim__input {
  width: 92%;
  font-size: $font-size-2;
  border-radius: $elem-border-radius;
  border: $form-input-border-color solid $form-input-border-width;
  padding: 1em;
}

.aim--err {
  margin-top: 1em;
  height: 1em;
}

@media (max-width: 1000px) {
  $popup__aim-width-1000px: 60vw;
  .aim--popup__container {
    width: $popup__aim-width-1000px;
    margin-left: ((100vw - $popup__aim-width-1000px) / 2);
  }
}

@media (max-width: 800px) {
  $popup__aim-width-800px: 80vw;
  .aim--popup__container {
    width: $popup__aim-width-800px;
    margin-left: ((100vw - $popup__aim-width-800px) / 2);
  }

  .aim__form {
    width: 80%;
  }

  .description--title {
    font-size: $font-size-2;
  }
}

@media (max-width: 500px) {
  .aim--popup__container {
    height: 70vh;
  }

  .aim__title {
    font-size: $font-size-3;
  }

  .aim__input {
    font-size: $font-size;
  }
}
