@import "authorPageService";
@import "authorPageSubs";
@import "authorPagePosts";
@import "../general/text";
@import "../general/variables";

$content-width: 92%;

.auth__content {
  width: $content-width;
}

.about__edit {
  width: $img-width;
  @include clickable();
}

$about-mt: 0.5em;

.about__title {
  font-size: $title-font-size;
  margin-top: $about-mt;
}

.about__description {
  font-size: $font-size-2;
  margin-top: $about-mt;
}

.subs__title {
  font-size: $font-size-3;
  margin-top: ($about-mt * 2);
  display: flex;
}

.subs__title--text {
  margin-top: 0.1em;
  margin-right: 1em;
}

.subs__add {
  @include clickable();
}
