@import "../general/popup";
@import "../general/variables";

$sub__container-offset: 1em;
$sub__container-width: 90%;
$sub__card-height: 20em;

.sub__space {
  background-color: $card-color;
  @include shadow();

  height: ($sub__card-height + $sub__container-offset);

  margin-top: $sub__container-offset;
  padding-top: $sub__container-offset;
  padding-bottom: $sub__container-offset;

  border-radius: $elem-border-radius;
  display: grid;
  grid-template-columns: ((100% - $sub__container-width) / 2) $sub__container-width ((100% - $sub__container-width) / 2);
}


.sub__container {
  display: flex;
  height: $sub__card-height;
}


.arrow__container {
  width: 3em;
  padding-top: ($sub__card-height / 2 - 1.5em);
}

.arrows {
  width: 100%;
  @include clickable();
}

$sub__card-width: 18%;

.sub__card {
  background-color: $popup-color;
  width: $sub__card-width;
  margin: 0 auto 0 auto;
  padding: 1.5em;

  border-radius: $elem-border-radius;

  display: grid;
  grid-template-rows: 20% 40% 20% 20%;
}

.sub__title {
  display: grid;
  grid-template-columns: 80% 20%;
}

.sub__title--text {
  height: fit-content;
  padding-right: 0.2em;
  font-size: $font-size;
}

#sub__delete {
  @include clickable();
}

$sub__card-offset: 10%;

.sub__description {
  margin-top: $sub__card-offset;
}

.sub__cost {
  display: flex;
  margin-top: $sub__card-offset;
  font-size: $font-size;
}

.cost {
  margin-right: 0.5em;
}

.rpm {
  margin-top: 0.3em;
}

.sub__btn {
  background-color: $sub__btn-color;
  color: black;
  height: 2em;

  margin-top: 1em;
  padding-right: 1em;

  @include shadow();

  &:hover {
    background-color: $create-btn-color;
  }
}

.sub__buy {
  padding: 0;
}

.sub__edit {
  width: $img-width;
  margin-right: 0.3em;
}
