@import "../general/variables";

$feed-width: 60%;

.feed {
  width: $feed-width;
  margin: 5.5em auto auto;
}

.feed__card {
  border-radius: $elem-border-radius;
  background-color: $card-color;
  padding: 2%;
  margin-bottom: 2em;
  @include shadow();
}

//---header---//

$feed__title-width: 60%;
$feed__photo-width: 13%;

.feed__header {
  display: grid;
  grid-template-columns: $feed__photo-width $feed__title-width (100% - $feed__title-width - $feed__photo-width);

  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: $card-content-color solid 2px;
}

#feed__creator--photo {
  height: 5em;
  width: 5em;
  border-radius: 100%;
  margin-left: 1em;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.feed__creator--name {
  margin-top: 1.2em;
  font-size: $font-size-2;
}

.feed__sub-levels {

}

.feed__date--container {
  text-align: end;
  //margin-right: 2.5em;
}

.feed__date {
  margin-bottom: 1em;
  font-size: $font-size-2;
}


//---content---//

$content-side-offset: 7%;

.feed__content {
  padding: 1em $content-side-offset 1em $content-side-offset;
}

.feed__title {
  margin-bottom: 1em;
}

//---footer---//

$like__space-width: 80%;

.feed__footer {
  padding: 0 5% 0.1em $content-side-offset;
  font-size: $font-size-3;
  display: grid;
  grid-template-columns: $like__space-width (100% - $like__space-width);
}

.feed__like--space {
  display: flex;

  p {
    margin: 0.2em 0.5em 0.5em 0.3em;
  }
}

.feed__likes--count {
  width: 1em;
}

.feed__icon {
  height: 1.5em;
}

.feed__like {
  @include clickable();
}

.feed__comment--container {
  text-align: end;
}

// -------- 1500 -------- //

@media (max-width: 1500px) {
  #feed__creator--photo {
    height: 3.5em;
    width: 3.5em;
  }

  .feed__date {
    font-size: 18px;
  }

  .feed__footer {
    font-size: 18px;
  }

}

// -------- 1200 -------- //

@media (max-width: 1200px) {
  .feed {
    width: 70%;
  }

  .feed__header {
    grid-template-columns: 12% 88%;
    grid-template-rows: 70% 30%;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .feed__date--container {
    grid-column-start: 2;
  }

  .feed__creator--name {
    margin-top: 0.5em;
    height: fit-content;
    text-align: start;
  }

  .feed__date {
    margin-top: 0;
    text-align: start;
    font-size: 16px;
  }

  .feed__creator--photo {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #feed__creator--photo {
    height: 3em;
    width: 3em;
  }

  .feed__footer {
    font-size: 16px;
  }
}

// -------- 1000 -------- //

@media (max-width: 1000px) {
  .feed {
    width: 80%;
  }

  .feed__card {
    margin-bottom: 1em;
  }

  .feed__header {
    grid-template-columns: 15% 85%;
  }

  #feed__creator--photo {
    height: 2.5em;
    width: 2.5em;
  }

  .feed__creator--name {
    font-size: 18px;
  }

  .feed__date {
    font-size: 16px;
  }
}

// -------- 768 -------- //

@media (max-width: 768px) {
  .feed {
    width: 90%;
  }
}

// -------- 480 -------- //

@media (max-width: 480px) {
  .feed {
    width: 95%;
  }

  .feed__header {
    grid-template-columns: 20% 80%;
  }
}
