@import "../general/variables";
@import "../general/input";
@import "search";

//-----post__form-----//
$post__form-width: 65%;

.newpost__container {
  display: grid;
  grid-template-columns: $post__form-width (100% - $post__form-width);
}

#newpost-btn-back {
  background-color: $sub__btn-color;
  width: 30%;
  height: 2em;
  color: black;

  &:hover {
    background-color: $sub__btn-color-hover;
  }
}

.post__form {
  padding: 0 10% 0 10%;
}

.newpost-title {
  font-size: $title-font-size;
  margin-top: 1em;
  margin-bottom: 1em;
}

.newpost__input {
  border: none;
  border-radius: $elem-border-radius;
  width: 100%;
  font-size: $font-size-3;
  padding: 1em;
  background-color: $card-color;
}

#newpost-title-input {
  font-weight: bolder;
}

#newpost-text-input {
  resize: none;
  height: 12em;
}

//-----post__settings-----//

.post__settings {
  padding: 10% 20% 10% 10%;
}

.post__settings--form {
  background-color: $card-color;
  border-radius: $elem-border-radius;
  padding: 1em;
}

.post__settings--header {
  font-size: $font-size-3;
  border-bottom: $card-content-color solid 2px;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  margin-bottom: 1.5em;
}

.subscribers__class {
  padding: 0.5em;
  font-size: $font-size-2;
}

.switch {
  display: flex;
  margin-bottom: 0.3em;
}

.switch__text {
  margin-left: 0.7em;
}

.subscription__levels {
  font-size: $font-size-3;
  margin-top: 1em;
  margin-left: 0.5em;
}

.sub__level--container {
  width: 100%;
}

.sub__level {
  font-size: $font-size;
  display: flex;
  border-radius: $elem-border-radius;
  padding: 0.7em;
  margin: 0.5em;
  width: fit-content;
}

.card__inactive {
  background-color: #dadada;
}

.card__active {
  background-color: #3bd548;
}

.sub__level--text {
  margin-left: 1em;
}

$comment-title-width: 80%;

.comments {
  font-size: $font-size-3;
  margin-top: 1em;
  margin-left: 0.5em;
  display: grid;
  grid-template-columns: $comment-title-width (100% - $comment-title-width);
}

.newpost-btn {
  margin-top: 5em;
}

//-----Alik-----//
.input-file-container {
  padding: 10px 0;
}

.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.input-file {
  position: relative;
  display: inline-block;
  margin: 0.5em;
}

.input-file-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  background-color: #333;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  margin: 0;
  transition: background-color 0.2s;
}

.input-file-text {
  padding-right: 10px;
  line-height: 30px;
  display: inline-block;
}

/* Focus */
.input-file input[type=file]:focus + .input-file-btn {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* Hover/active */
.input-file:hover .input-file-btn {
  background-color: #59be6e;
}

.input-file:active .input-file-btn {
  background-color: #2E703A;
}

/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
  background-color: #eee;
}

.preview-container {
  max-width: 500px;
}

.attach-container {
  max-width: 100%;
}

.img-preview {
  max-width: 100%;
}

.video-preview {
  max-width: 100%;
}

.audio-preview {
  max-width: 100%;
}

//--------media---------

@media (max-width: 1300px) {
  .newpost__container {
    grid-template-columns: 60% 40%;
  }

  .newpost__input {
    font-size: $font-size-2;
  }

  .newpost-title {
    font-size: $font-size-4;
  }

  .post__settings--header {
    font-size: $font-size-2;
  }

  .comments {
    font-size: $font-size-2;
  }

  .comment__switch {
    height: $font-size-3;
  }
}

@media (max-width: 1000px) {
  .newpost__container {
    grid-template-columns: 1fr;
  }

  .newpost__input {
    width: 80%;
  }

  .newpost-btn {
    margin-top: 2em;
    font-size: $font-size;
  }

  .newpost-title {
    font-size: $font-size-3;
  }

  .newpost__input {
    font-size: $font-size;
  }

  .post__settings--header {
    font-size: $font-size;
  }

  .switch__text {
    font-size: $font-size;
  }

  .newpost__comments {
    font-size: $font-size;
  }
}

@media (max-width: 600px) {
  .newpost__input {
    width: 90%;
  }

  .post__settings {
    padding: 10%;
  }
}
