@import "../general/popup";
@import "../general/input";
@import "../general/text";
@import "../general/variables";
@import "auth";

$popup-reg-width: 70%;
$form-width: 40%;

$reg-title-mt: 0.7em;
$reg-title-mb: 0.5em;

.reg__container{
  @include popup__container();
  width: $popup-reg-width;
  padding-bottom: 1em;
  margin-left: ((100% - $popup-reg-width) / 2);
  display: grid;
  grid-template-columns: (100% - $form-width) $form-width;
}

.reg__picture {
  margin: auto;
  width: 85%;
}

.reg__title {
  font-size: $title-font-size;
  text-align: center;
  margin-top: $reg-title-mt;
  margin-bottom: $reg-title-mb;
}

.reg__form {
  width: 90%;
}

.reg__tagline {
  font-size: $font-size;
  height: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.reg__input--form {
  height: ($input-height * 0.8);
  display: grid;
  grid-template-columns: 90% 10%;
}

#username__form, #login__form, #password__form, #password--repeat__form {
  margin-bottom: 0;
}

.reg__input {
  background: none;

  height: 95%;
  width: 90%;

  border-width: 0;

  font-size: $font-size * 1.3;

  outline: 0;
  outline-offset: 0;
}

.reg__btn {
  height: ($input-height * 0.8);
}

#toAuth {
  @include redirect();
}

#reg-error {
  text-align: center;
  height: 1em;
  margin-bottom: 1em;
}

#reg-username-error, #reg-login-error, #reg-password-error, #reg-repeat-password-error {
  margin-bottom: 1em;
}

@media (max-width: 1500px) {
  .reg__container {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 1200px) {
  .reg__picture {
    display: none;
  }

  .reg__container {
    grid-template-columns: 1fr;
  }

  .reg__form {
    margin: auto;
    width: 70%;
  }
}

@media (max-width: 700px) {
  $popup-reg-width-700px: 90vw;

  .reg__container {
    width: $popup-reg-width-700px;
    margin-left: ((100vw - $popup-reg-width-700px) / 2);
  }

  .reg__title {
    font-size: $font-size-3;
  }

  .reg__tagline {
    font-size: $font-size-small;
  }

  .reg__input {
    font-size: $font-size;
  }
}
