@import "../general/variables";
@import "../general/input";

$settings__container--space-width: 80%;

.settings {
  display: grid;
  grid-template-columns: (100% - $settings__container--space-width) $settings__container--space-width;
}

.settings__chapters--title {
  margin-bottom: 2em;
}

.settings__chapters {
  padding-left: 30%;
  padding-top: 4em;
}

$chapter__bar-height: 0.3em;

.chapter {
  font-size: $font-size-2;
  padding-left: 1em;
  padding-top: $chapter__bar-height;
  padding-bottom: $chapter__bar-height;
  margin-bottom: 1em;
}

#chapter__account {
  @include clickable();
  color: $text-color;
  border-left: $text-color solid $chapter-border-width;
}

//---settings---//

$settings__form-width: 50%;

.settings__container {
  margin: 3em auto auto;
  width: 70%;
  padding: 3em 4em 3em 4em;
  background-color: $card-color;
  border-radius: $elem-border-radius;

  display: grid;
  grid-template-columns: $settings__form-width (100% - $settings__form-width);
}

.settings__title {
  font-size: $font-size-4;
  margin-bottom: 1em;
}

.settings__input--title {
  font-size: $font-size-2;
  margin-bottom: 1em;
}

.change__input {
  font-size: $form-input-font-size;

  height: $input-height;
  width: $form-input-width;

  border: $form-input-border-color solid $form-input-border-width;
  border-radius: $elem-border-radius;

  padding: 0 $form-input-padding-side;
  margin-bottom: 1em;
}

#old-password-input {
  margin-bottom: 2em;
}

//---photo---//

.settings__photo {
  padding: 5em;
}

.upload {
  width: 0;
  height: 0;
  outline: 0;
  cursor: pointer;
}

$settings__photo-width: 100%;

#user-photo {
  display: flex;
  width: $settings__photo-width;
  height: $settings__photo-width;
  border-radius: $elem-border-radius;
  background-repeat: no-repeat;
  background-size: 100%;
}

.photo__load--label {
  width: 100%;
  text-align: center;
  height: fit-content;
  display: block;
  margin-bottom: 3em;
  padding: 1em 0 1em 0;
  border-radius: $elem-border-radius;
  background-color: $sub__btn-color;
  @include clickable();

  &:hover {
    background-color: $sub__btn-color-hover;
  }
}

//---change__res---//

.change__res {
  height: 1em;
  margin: 0 0 1em;
}

.change-success {
  color: green;
}

#change-password-error {
  color: red;
}
