@import "../general/variables";

$sidebar__border-weight: 2px;

.sidebar {
  position: fixed;

  display: grid;
  grid-template-columns: 7% 20% 1fr fit-content(100%);

  width: 100%;
  height: $sidebar-height;
  font-size: $font-size-2;

  border-bottom: $hr-color solid $sidebar__border-weight;
  background-color: $default-color;

  z-index: $sidebar-z-index;
}

$sidebar__element-offset: 0.4vw;

.sidebar__element {
  margin-left: $sidebar__element-offset;
  margin-right: $sidebar__element-offset;
}

.become-author {
}

.sidebar__about--element {
  margin-left: 0.8vw;
}

.sidebar__user {
  @include v-align($sidebar-height);
}

.sidebar__info {
  @include v-align($sidebar-height);
  display: grid;
  grid-template-columns: 30% 70%;
}

$sidebar__element-height: 1em;

.sidebar__about {
  height: $sidebar__element-height;
  position: relative;
  top: (($sidebar-height - $sidebar__element-height) / 2);
  border-left: $hr-color solid $sidebar__border-weight;
  width: fit-content;
  @include v-align($sidebar__element-height)
}

.sidebar__authors {
  @include v-align($sidebar-height);
  margin-left: 1em;
}

$sidebar-offset: 0.4vw;

.sidebar__logo {
  height: ($sidebar-height * 0.9);
  padding-left: $sidebar-offset;
  cursor: pointer;
}

.sidebar__logo--fav {
  width: 100%;
  padding-left: 3vw;
  padding-top: 40%;
  display: none;
  cursor: pointer;
}

$sidebar__input-background-color: #ebedf0;

.sidebar__input {
  height: ($sidebar-height * 0.6);
  width: 35%;
  font-size: $font-size-2;

  padding-left: 2em;
  padding-right: 0.5em;

  border: none;
  border-radius: 0.9em;

  background-color: $sidebar__input-background-color;
  background-repeat: no-repeat;
  background-position: 2%;
}

.sidebar__subs {
  border-left: $hr-color solid $sidebar__border-weight;
  border-right: $hr-color solid $sidebar__border-weight;
}

.sidebar__user {
  text-align: right;
  padding-right: $sidebar-offset;
}

$sidebar__notification-height: 1.5em;

.sidebar__notification {
  height: $sidebar__notification-height;
  position: relative;
  top: (($sidebar-height - $sidebar__notification-height) / 4);
}

$sidebar__user--photo-height: 2em;

.sidebar__user--photo {
  width: $sidebar__user--photo-height;
  height: $sidebar__user--photo-height;
  border-radius: 100%;

  position: relative;
  top: (($sidebar-height - $sidebar__user--photo-height) / 2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sidebar__menu {
  cursor: pointer;
  display: none;
}

//------1300px------//

@media (max-width: 1300px) {
  .sidebar__logo {
    height: fit-content;
    width: 100%;
  }

  .sidebar__media--1300px {
    display: none;
  }
}

$sidebar__img-top: 0.45em;

@media (max-width: 1000px) {
  .sidebar__media--1000px {
    display: none;
    font-size: $font-size;
  }

  .sidebar {
    grid-template-columns: 7% 1fr fit-content(100%);
  }

  .sidebar__input {
    width: 50%;
    font-size: $font-size;
  }

  .sidebar__logo {
    margin-top: 0.5em;
    margin-left: 10%;
  }

  .sidebar__user--name {
    display: none;
  }

  .sidebar__menu {
    display: inline;
    position: relative;
    top: $sidebar__img-top;
    margin-right: 2vw;
    margin-left: 2vw;
  }

  .sidebar__user--photo {
    top: $sidebar__img-top;
  }
}

@media (max-width: 768px) {
  .sidebar {
    grid-template-columns: 10% 1fr fit-content(100%);
  }

  .sidebar__element {
    font-size: $font-size;
  }

  .sidebar__input {
    font-size: $font-size-small;
  }
}

@media (max-width: 480px) {
  .sidebar {
    grid-template-columns: 7% 1fr fit-content(100%);
  }

  .sidebar__reg {
    display: none;
  }

  .sidebar__logo {
    display: none;
  }

  .sidebar__logo--fav {
    margin-top: 0.5em;
    //margin-top: 0.5em;
    display: block;
  }
}

