@import "../general/variables";
@import "../general/popup";
@import "../general/input";

$popup__sub-width: 45%;

.subscription__container {
  @include popup__container();
  width: $popup__sub-width;
  margin-left: ((100% - $popup__sub-width) / 2);
}

$popup__content-width: 60%;

.subscription {
  width: $popup__content-width;
  margin: 2em auto auto;
}

.subscription__body {
  font-size: $font-size-3;
}

.subscription__win--title {
  text-align: center;
  font-size: $font-size-4;
  margin-bottom: 5%;
}

$sub__input-mb: 7%;

.sub__input--container {
  margin-bottom: $sub__input-mb;
}

$sub__input--title-mb: 5%;

.sub__input--title {
  margin-bottom: $sub__input--title-mb;
}

.sub__input {
  width: 95%;
  font-size: $font-size-2;
  border-radius: $elem-border-radius;
  border: $form-input-border-color solid $form-input-border-width;
  padding: 0.5em;
}

#sub-description-input {
  resize: none;
  height: 5em;
}

#sub-cost-input {
  font-size: $font-size-3;
  height: 1em;
}

@media (max-width: 1300px) {
  .subscription__win--title {
    font-size: $font-size-3;
  }

  .sub__input--title {
    font-size: $font-size-2;
  }

  .sub__input {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .subscription {
    width: 80%;
  }

  .subscription__win--title {
    font-size: $font-size-2;
  }

  .sub__input--title {
    font-size: $font-size;
  }

  .sub__input {
    font-size: $font-size;
  }

  .subscription__btn {
    font-size: $font-size;
  }
}

@media (max-width: 800px) {
  $popup__sub-width-800px: 60%;

  .subscription__container {
    width: $popup__sub-width-800px;
    margin-left: ((100% - $popup__sub-width-800px) / 2);
  }
}

@media (max-width: 600px) {
  $popup__sub-width-600px: 80%;

  .subscription__container {
    width: $popup__sub-width-600px;
    margin-left: ((100% - $popup__sub-width-600px) / 2);
  }
}
