<div class="search-container">
    {{#each creatorList}}
        <div class="author-card" id="{{creator_id}}">
            <div class="author-card-info">
                <h1>{{name}}</h1>
                <p>{{description}}</p>
                <p>Подписчиков: {{followers_count}}</p>
            </div>
            <div class="author-card__cover">
<!--                <img class="author__cover--photo" src="../../images/myPage_phone.jpg" alt="cover photo">-->
            </div>
        </div>
    {{/each}}
</div>
