<div class="search__container">
    {{#each creatorList}}
        <div class="creator__card" id="{{creator_id}}">
            <div class="card__header">

            </div>

            <div class="card__footer">
                <img src="../../images/tag.svg" alt="tag">
            </div>
        </div>
    {{/each}}
</div>
