.author-card {
    border: solid black 2px;
    background-color: #f8f8f8;
    width: 80%;
    margin: auto auto 2em;
    padding: 1em;
    cursor: pointer;
}

.author-card:hover {
    background-color: #ccc;
}

.author-card-info {
    width: 50%;
}

.search-container {
    margin-top: 6em;
}
