<div class="search__container">
    {{#each creatorList}}
        <div class="creator__card" id="{{creator_id}}">
            <div class="card__header">
                <div class="followers">
                    <img src="../../images/followers.svg" alt="followers">
                    <p class="followers__count">{{followers_count}}</p>
                </div>
                <div class="search__info">
                    <img id="search__photo" src="../../images/{{creator_photo}}.jpg" alt="">
<!--                    <img class="search__photo" src="../../images/author-photo.svg" alt="author">-->
                    <h3 class="search__name">{{name}}</h3>
                </div>
            </div>

            <div class="card__footer">
                <img class="search__tag--img" src="../../images/tag.svg" alt="tag">
                <div class="search__tag">
                    <p>Тэг 1</p>
                </div>
                <div class="search__tag">
                    <p>Тэг 2</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>
