.author-card {
    border: solid black 2px;
    background-color: #f8f8f8;
    width: 80%;
    /*height: 13em;*/
    margin: auto auto 2em;
    display: flex;
    cursor: pointer;
}

.author-card:hover {
    background-color: #ccc;
}

.author-card-info {
    margin-left: 1em;
    width: 50%;
}

.search-container {
    margin-top: 6em;
}

.author-card__cover {
    width: 50%;
}

.author__cover--photo {
    width: 100%;
    height: 100%;
}
