<div id="backReg" class="background">
</div>
<div id="register">
    <div class="reg-container">
        <div class="title">
            Регистрация на SubMe
        </div>
        <div class="input">
            <div>
                <label class="auth-label" for="username"> Логин </label>
                <input id="reg-login" class="auth-input" type="text">
            </div>
            <div>
                <label class="auth-label" for="username"> Ваше имя </label>
                <input id="reg-username" class="auth-input" type="text">
            </div>
            <div>
                <label class="auth-label" for="password"> Пароль </label>
                <input id="reg-password" class="auth-input" type="password">
            </div>
            <div>
                <label class="auth-label" for="password"> Повторите пароль </label>
                <input id="reg-repeat-password" class="auth-input" type="password">
            </div>
            <div id="reg-error"></div>
            <div class="auth-btn-container">
                <button id="reg-btn"> Зарегистрироваться</button>
            </div>
        </div>

        <div class="toReg">
            Впервые на SubMe? <a id="toReg-ref"> Регистрация </a>
        </div>
    </div>
</div>
