<div id="backReg" class="background">
</div>
<div id="register">
    <div class="reg-container">
        <div class="title">
            Регистрация на SubMe
        </div>

        <div class="reg__input">
            <div>
                <p class="auth-label"> Логин </p>
                <input id="reg-login" class="auth-input" type="text">
            </div>
            <div>
                <p class="auth-label"> Ваше имя </p>
                <input id="reg-username" class="auth-input" type="text">
            </div>
            <div>
                <p class="auth-label"> Пароль </p>
                <input id="reg-password" class="auth-input" type="password">
            </div>
            <div>
                <p class="auth-label"> Повторите пароль </p>
                <input id="reg-repeat-password" class="auth-input" type="password">
            </div>
            <div id="reg-error"></div>
        </div>

        <div class="auth-btn-container">
            <button id="reg-btn" class="reg-btn"> Зарегистрироваться</button>
        </div>
    </div>
</div>
