<div class="background">
</div>
<div id="register">
    <div id="closeReg" class="close">
        <img id="close-reg" width="25" src="./images/close.png" alt="user_photo">
    </div>
    <div>
        <label class="label" for="username"> Логин </label>
        <input id="reg-login" type="text">
    </div>
    <div>
        <label class="label" for="username"> Ваше имя </label>
        <input id="reg-username" type="text">
    </div>
    <div>
        <label class="label" for="password"> Пароль </label>
        <input id="reg-password" type="password">
    </div>
    <div>
        <label class="label" for="password"> Повторите пароль </label>
        <input id="reg-repeat-password" type="password">
    </div>
    <div id="reg-error"></div>
    <div>
        <button id="reg-btn"> Зарегистрироваться </button>
    </div>
</div>