#register {
    top: 15em;
    margin-left: 30%;
    background-color: #94b989;
    position: fixed;
    width: 45em;
    height: 30em;
    border-radius: 3em;
    opacity: 1;
    z-index: 20;
}

.reg-container {
    text-align: end;
    margin: auto;
    width: 44em;
}

#reg-error {
    text-align: center;
}

#closeReg {
    width: 2em;
}
