<div class="background">
    <div id="register">
        <div id="closeReg" class="close">
            <h3>X</h3>
        </div>
        <div>
            <label for="username"> Логин </label>
            <input id="reg-login" type="text">
        </div>
        <div>
            <label for="username"> Ваше имя </label>
            <input id="reg-username" type="text">
        </div>
        <div>
            <label for="password"> Пароль </label>
            <input id="reg-password" type="password">
        </div>
        <div>
            <label for="password"> Повторите пароль </label>
            <input id="reg-repeat-password" type="password">
        </div>
        <div id="reg-error"></div>
        <div>
            <button id="reg-btn"> Зарегистрироваться </button>
        </div>
    </div>
</div>