<div id="backReg" class="background--popup">
</div>
<div id="register" class="reg__container">
    <img src="../../images/usage.jpeg" class="reg__picture" alt="Регистрация">

    <div class="reg__form">
        <div class="reg__title">Регистрация</div>
        <p class="reg__tagline">Стань частью творческого комьюнити уже сейчас</p>

        <input id="reg-username" class="reg__input--form" type="text" placeholder="Имя пользователя">
        <div id="reg-username-error" class="error"></div>

        <input id="reg-login" class="reg__input--form" type="text" placeholder="Логин">
        <div id="reg-login-error" class="error"></div>

        <input id="reg-password" class="reg__input--form" type="password" placeholder="Пароль">
        <div id="reg-password-error" class="error"></div>

        <input id="reg-repeat-password" class="reg__input--form" type="password" placeholder="Повторите пароль">
        <div id="reg-repeat-password-error" class="error"></div>

        <div id="reg-error"></div>

        <button id="reg-btn" class="reg-btn"> Зарегистрироваться</button>

        <p class="text--redirect">Уже есть аккаунт?</p>
        <p id="toAuth">Войти</p>
    </div>
</div>
