#register {
    top: 7em;
    margin-left: 27%;
    background-color: #eee;
    position: fixed;
    width: 45em;
    height: 45em;
    opacity: 1;
    z-index: 20;
}

.reg-container {
    margin: auto;
    width: 40em;
}

.reg__input {
    margin-left: 20%;
}

#reg-error {
    margin-left: 7em;
    height: 1em;
}

#closeReg {
    width: 2em;
}
