<div id="register">
    <div>
        <label for="username">Логин</label>
        <input id="reg-username" type="text">
    </div>
    <div>
        <label for="password">Пароль</label>
        <input id="reg-password" type="password">
    </div>
    <div>
        <label for="password">Повторите пароль</label>
        <input id="reg-passwordCheck" type="password">
    </div>
    <div>
        <input id="reg-btn" type="submit">
    </div>
</div>