<div id="backGetSub" class="background--popup">
</div>

<div class="getsub--popup__container">
    <div class="getsub__form">
        <p class="getsub__title title">Купить подписку</p>

        <div class="getsub__block">
            <p class="description--title">Укажите, на сколько месяцев вы хотите оформить подписку</p>
            <input id="getsub__months" class="aim__input" type="text">
            <div id="getsub__cost--err" class="aim--err"></div>
        </div>

        <button id="getsub__btn">Оформить</button>
    </div>
</div>
