<div id="backDonateWin" class="background--popup">
</div>
<div id="donateWin">
    <div class="donateWin-container">
        <div class="title">
            Отправить донат
        </div>
        <div class="input-donateWin-container">
            <div class="input-donateWin">
                <p class="donateWin-label">Сумма доната</p>
                <input id="donateWin-money" class="donate__input" type="text">
            </div>
            <div id="donateWin-error"></div>
            <div class="donateWin-btn-container">
                <button id="donateWin-btn" class="auth-btn"> Отправить </button>
            </div>
        </div>
    </div>
</div>

