<div id="backDonateWin" class="background--popup">
</div>
<div id="donateWin">
    <div class="donateWin__container">
        <div class="donate__title">
            Отправить донат
        </div>



<!--        <div id="donateWin-error"></div>-->
<!--        <div class="donateWin-btn-container">-->
            <button id="donateWin-btn" class="auth-btn"> Отправить</button>
<!--        </div>-->

        <form method="POST" action="https://yoomoney.ru/quickpay/confirm.xml">
            <input type="hidden" name="receiver" value="4100118197577777"/>
            <input type="hidden" name="label" value="$order_id"/>
            <input type="hidden" name="quickpay-form" value="button"/>
    <!--        <input type="hidden" name="sum" value="100" data-type="number"/>-->
            <div class="input__donateWin">
                <p class="donateWin__label">Сумма доната</p>
                <input id="donateWin-money" class="donate__input" type="text" name="sum" data-type="number">
            </div>
<!--            <input id="donateWin-money" class="donate__input" type="text" name="sum" data-type="number">-->
    <!--        <label><input type="radio" name="paymentType" value="PC"/>YooMoney</label>-->
    <!--        <label><input type="radio" name="paymentType" value="AC"/>Bank card</label>-->
            <div id="donateWin-error"></div>
            <div class="donateWin-btn-container">
                <button  class="auth-btn" type="submit"> Перейти к оплате</button>
<!--                id="donateWin-btn"-->
            </div>
        </form>
    </div>
</div>


