<div class="settings">
    <div class="settings__chapters">
        <p class="settings__chapters--title">Настройки</p>
        <div class="chapter__container">
<!--            <p id="chapter__account" class="chapter">Аккаунт</p>-->
        </div>
    </div>


    <div class="settings__container">
        <p class="settings__title">Аккаунт</p>

        <div class="settings__form">
            <div class="settings__block">
                <p class="settings__input--title">Имя пользователя</p>
                <input class="change-name change__input" id="change-username-input" type="text"
                       value="{{usernameIn}}">
                <div id="change-username-error" class="change__res error"></div>
            </div>


            <div class="settings__block">
                <p class="settings__input--title">Логин</p>
                <input class="change-name change__input" id="change-login-input" type="text" value="{{login}}">
                <div id="change-login-error" class="change__res error"></div>
            </div>

            <div class="change-password settings__block">
                <p class="settings__input--title">Пароль</p>
                <input class="change-password-input change__input" id="old-password-input" type="password"
                       placeholder="Старый пароль">
                <input class="change-password-input change__input" id="new-password-input" type="password"
                       placeholder="Новый пароль">

                <div id="change-password-error" class="change__res error"></div>
            </div>

            <div class="change__res change-success" id="change-success-name"></div>
            <button class="settings__btn" id="settings__btn">Сохранить</button>
        </div>
        <!------------------------------------------------------------------------------------------------------------->
        <div id="{{profilePhoto}}" class="settings__photo">
            <div class="settings__photo--btns">
                <label class="photo__load--label">
                    <input id="photo-upload" type="file" class="upload"/>
                    <span class="photo__load--btn">Выбрать фото</span>
                </label>
                <button id="settings__delete--btn" class="settings__delete--btn">Удалить фото</button>
            </div>

            <img id="user-photo" alt="">
        </div>
    </div>
</div>
