<div class="settings">
    <div class="settings__container">
        <h1>Настройки</h1>

        <img id="user-photo" width="200" src="../../images/{{profilePhoto}}.jpg" alt="user_photo">
        <input type="file" class="upload" id="photo-upload"/>
        <hr>
        <div class="settings__nameLogin">
            <div class="settings__block">
                <h3>Имя</h3>
                <input class="change-name change__input" id="change-username-input" type="text" value="{{usernameIn}}">
                <br>
                <div id="change-username-error" class="under-input-error-modal"></div>
                <div class="change-success" id="change-success-name"></div>

                <div class="change-btn__container">
                    <button class="change-btn" id="change-username-btn">Сменить имя</button>
                </div>
            </div>


            <div class="settings__block">
                <h3>Логин</h3>
                <input class="change-name change__input" id="change-login-input" type="text" value="{{login}}">
                <br>
                <div id="change-login-error" class="under-input-error-modal"></div>
                <br>
                <div class="change-success" id="change-success-login"></div>

                <div class="change-btn__container">
                    <button class="change-btn" id="change-login-btn">Сменить логин</button>
                </div>
            </div>
        </div>
        <hr>

        <div class="change-password settings__block">
            <h3 class="change__password--header">Изменить пароль</h3>
            <div>
                <label class="change-password-label" for="password">Старый пароль</label>
                <input class="change-password-input change__input" id="old-password-input" type="password">
            </div>

            <div>
                <label class="change-password-label" for="password">Новый пароль</label>
                <input class="change-password-input change__input" id="new-password-input" type="password">
            </div>

            <div class="change-success" id="change-success-password"></div>
            <div id="change-password-error"></div>

            <div class="change-btn__container">
                <button class="change-btn" id="change-password-btn">Сменить пароль</button>
            </div>
        </div>
    </div>
</div>
