<div class="settings">
    <h1>Настройки</h1>

    <img id="user-photo" width="50" src="../../images/b30646fe-f8e2-49f8-a3bc-a4e148b4286c.jpg" alt="user_photo">

    <hr>
    <div>
        <h3>Имя</h3>
        <input class="change-name" id="change-username-input" type="text" value="{{usernameIn}}">
        <br>
        <button class="change-btn" id="change-username-btn">Сменить имя</button>
    </div>

    <div>
        <h3>Логин</h3>
        <input class="change-name" id="change-login-input" type="text" value="{{login}}">
        <br>
        <button class="change-btn" id="change-login-btn">Сменть логин</button>
    </div>

    <hr>
    <div class="change-password">
        <h4>Изменить пароль</h4>
        <div>
            <label class="change-password-label" for="password">Старый пароль</label>
            <input class="change-password-input" id="old-password-input" type="text">
        </div>

        <div>
            <label class="change-password-label" for="password">Новый пароль</label>
            <input class="change-password-input" id="new-password-input" type="text">
        </div>

        <div id="change-password-error"></div>

        <button class="change-btn" id="change-password-btn">Сменить пароль</button>
    </div>
</div>
