<div class="settings">
    <div class="settings__chapters">
        <p class="title">Настройки</p>
        <p id="chapter__account" class="chapter">Аккаунт</p>
        <p class="chapter">Уведомления</p>
    </div>

    <div class="settings__container">
        <div class="settings__form">
            <p class="settings__title">Аккаунт</p>

            <div class="settings__block">
                <p class="settings__input--title">Имя пользователя</p>
                <input class="change-name change__input" id="change-username-input" type="text"
                       value="{{usernameIn}}">
                <div id="change-username-error" class="change__res error"></div>
                <div class="change__res change-success" id="change-success-name"></div>
            </div>


            <div class="settings__block">
                <p class="settings__input--title">Логин</p>
                <input class="change-name change__input" id="change-login-input" type="text" value="{{login}}">
                <div id="change-login-error" class="change__res error"></div>
                <div class="change__res change-success" id="change-success-login"></div>
            </div>

            <div class="change-password settings__block">
                <p class="settings__input--title">Пароль</p>
                <input class="change-password-input change__input" id="old-password-input" type="password"
                       placeholder="Старый пароль">
                <input class="change-password-input change__input" id="new-password-input" type="password"
                       placeholder="Новый пароль">

                <div class="change__res change-success" id="change-success-password"></div>
                <div id="change-password-error" class="change__res error"></div>
            </div>

            <button class="settings__btn" id="settings__btn">Сохранить</button>
        </div>

        <div class="settings__photo">
            <p class="settings__input--title">Фото профиля</p>
            <img id="user-photo" src="../../images/{{profilePhoto}}.jpg" alt="user_photo">
            <label class="photo__load--label">
                <input id="photo-upload" type="file" class="upload"/>
                <span class="photo__load--btn">Выбрать фото</span>
            </label>
        </div>
    </div>
</div>
