.settings {
    background-color: white;
}

.settings__container {
    margin: 6em auto auto;
    width: 50%;
    border: solid black 2px;
    padding: 0.5em 3em 0 3em;
    background-color: #f8f8f8;
}

.settings__nameLogin {
    margin-top: 1.5em;
}

.settings__block {
    width: fit-content;
}

.upload {
    outline: 0;
    cursor: pointer;
}

.change-password {
    margin-top: 1.5em;
}

.change-password-label {
    display: flex;
    margin-bottom: 0.5em;
}

.change__input {
    width: 17em;
    font-size: 1.2em;
}

.change__password--header {
    margin-bottom: 1em;
}

.change-password-input {
    margin-bottom: 1em;
    height: 1.5em;
    padding-left: 1em;
}

.change-btn__container {
    /*text-align: end;*/
}

.change-btn {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    height: 2em;
    font-size: 1em;
}

.change-name {
    margin-bottom: 0.7em;
    margin-top: 1em;
    height: 1.5em;
    padding-left: 1em;
    font-size: 1.2em;
}

.change-success {
    color: green;
}

#change-password-error {
    color: red;
}
