#myPage {
    margin-left: 10em;
    margin-right: 10em;
}
.container {
    display: grid;
    gap: 20px;
    grid-template-columns: 20% 60% 20%;
}

.myPageHeaderContainer {
    background-image: url("../../images/myPage_phone.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.postContainer {
    border: 1px solid #7f7e7e;
    margin-top: 1.5em;
}

.aboutAuthorContainer {
    border: 1px solid #7f7e7e;
    margin-top: 1em;
    margin-bottom: 1em;
}

.postContainer-header {
    display: grid;
    grid-template-columns: 90% 5% 5%;
}

.myPage-header {
    margin: 0;
    top: 0;
    left: 0;
    padding-left: 15em;
    padding-top: 4em;
    padding-bottom: 2em;
}

.box1-btn-container {
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.3em;
}

.box1-info-container {
    margin-left: 2%;
    display: grid;
    grid-template-columns: 80% 20%;
}

.box1-info {
    border: 1px solid #7f7e7e;
}

.box1-info-text {
    font-size: large;
}

.subs-btn {
    margin: auto;
    height: 2em;
    width: 80%;
    border-radius: 0.7em;
    font-size: 1.3em;
}

#circle-icon {
    margin-left: 0.5em;
}

#pencil-icon {
    margin-top: 1em;
    cursor: pointer;
}

#delete-icon {
    margin-top: 0.85em;
    cursor: pointer;
}

#myPage_phone {
    width: 100%;
}

#settings-icon {
    position: absolute;
    right: 1.3%;
    top: 5em;
}

